@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Dovemayo_gothic';
}

body {
    max-width: 1024px;
    min-height: calc(100vh - 20px);
    padding: 10px;
    margin: 0 auto;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}

.user-info {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.img-container {
    width: 50px;
    height: 50px;
}
.img-container img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
}
.name-and-rank .name,
.name-and-rank .rank {
    font-weight: lighter;
}
.name-and-rank .rank span {
    font-weight: bold;
    font-size: 1.25em;
    color: green;
}
.description {
    display: flex;
    align-items: center;
}
.description .sofarwork {
    text-align: start;
}
.description .sofarwork span {
    font-weight: bold;
    font-size: 1.25em;
}

.box-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.expired {
    color: gray;
}

.box-wod {
    padding: 0 10px;
}
.current-wod {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(50, 51, 53);
    border-radius: 10px;
}
.current-wod .wod-info {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(50, 51, 53);
    color: white;
}
.current-wod .wod-info .wod-title {
    font-weight: bold;
}
.current-wod .one-work {
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 20px;
}
.current-wod .one-work .name,
.current-wod .one-work .info {
    width: 50%;
}

.upcoming-wod {
    padding: 10px;
}
.upcoming-wod .one-wod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
